{% extends 'phonebook/base.html' %}
{% load mptt_tags %}
{#{% load phonebook_tags %}#}
{#{% get_division as divisions %}#}

{% block sidebar %}
{% include 'phonebook/inc/_sidebar.html' %}
{% endblock %}

{% block content %}

<div id="dp-tab-18" class=" tab-pane active">
    <!--указываем тип таблицы   -->
    <table class="table table-striped">

        <tr>
            <td colspan="8">Наименование: {{ division.title }}</td>
        </tr>
        <!-- информация о дочерних подразделениях -->
        <!-- информация о дочерних подразделениях -->
        {% if children_divisions %}
        <tr>
            <td colspan="8">
                <strong>Отделы:</strong>
                <ul class="expandable-list">
                {% for child in children_divisions %}
                    <li>
                        <a href="{{ child.get_absolute_url }}">{{ child.title }} </a>
                    </li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        {% endif %}


    <!--шапка таблицы-->
    <tr>
        <!--в каждом столбце прописываем значения-->
        <!--первая ячейка является ссылкой на подробную запись по пользователю-->
        <td> Фамилия </td>
        <!--в каждом столбце прописываем значения имя-->
        <td> Имя </td>
        <!--в каждом столбце прописываем значения отчество-->
        <td> Отчество </td>
        <!--в каждом столбце прописываем должность-->
        <td> Должность </td>
        <!--в каждом столбце прописываем подразделение-->
        <td> Телефон</td>
        <!--в каждом столбце прописываем значения внутр телефон-->
        <td> Короткий № </td>
        <!--в каждом столбце прописываем значения городской телефон-->
        <td> Кабинет </td>
        <!--в каждом столбце прописываем значения факс-->
        <td> Наименование </td>
    </tr>

        <!--задаем цикл перечисления записей листа объектов 'phonebooks'  в классе PhonesByDivision (views.py)-->
{% for item in posts %}
    <!--открываем строку-->
    <tr>
        <!--в каждом столбце прописываем значения-->
        <!--первая ячейка является ссылкой на подробную запись по пользователю-->
        <td> {{item.surname}} </td>
        <!--в каждом столбце прописываем значения имя-->
        <td> {{item.name}}</td>
        <!--в каждом столбце прописываем значения фамилия-->
        <td> {{item.second_name}}</td>
        <!--в каждом столбце прописываем должность-->
        <td> {{item.position}}</td>
        <!--в каждом столбце прописываем подразделение-->
        <td>{{ item.phone }}</td>
        <!--в каждом столбце прописываем значения внутр телефон-->
        <td> {{item.short_phone}}</td>
        <!--в каждом столбце прописываем значения городской телефон-->
        <td> {{item.cabinet}}</td>
        <!--в каждом столбце прописываем значения факс-->
        <td> {{item.division}}</td>
    </tr>
{% endfor %}
    </table>
</div>
            {% for division in queryset %}
                <li>{{ division.title }}</li>
            {% endfor %}
{% endblock %}
