{% extends 'phonebook/base.html' %}
{% load mptt_tags %}
{% load phonebook_tags %}
{% get_division as divisions %}

{% block sidebar %}
    {% include 'phonebook/inc/_sidebar.html' %}
{% endblock %}

{% block content %}

    <div id="dp-tab-18" class=" tab-pane active">
        <!--указываем тип таблицы   -->

        <table class="table table-striped">
            <tr>
                <td colspan="8">Наименование: {{ di.title }}</td>
            </tr>
            <!-- информация о дочерних подразделениях -->
            {% if children_divisions %}
                <tr>
                    <td colspan="8">
                        <strong>Отделы:</strong>
                        <ul class="expandable-list">
                            {% for child in children_divisions %}
                                <li><a href="{{ child.get_absolute_url }}">{{ child.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% else %}
                {% for division in posts.divisions %}
                    <tr>
                        <td colspan="8">
                            <strong>Отделы:</strong>
                            <ul class="expandable-list">
                                <li><a href="{{ division.get_absolute_url }}">{{ division.title }}</a></li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}

            <!--шапка таблицы-->
            <tr>
                <td> Фамилия</td>
                <td> Имя</td>
                <td> Отчество</td>
                <td> Должность</td>
                <td> Телефон</td>
                <td> Короткий №</td>
                <td> Кабинет</td>
            </tr>


            {% for item in posts.phone_numbers %}
                <!--открываем строку-->
                <tr>
                    <!--в каждом столбце прописываем значения-->
                    <td> {{ item.surname }} </td>
                    <td> {{ item.name }}</td>
                    <td> {{ item.second_name }}</td>
                    <td> {{ item.position }}</td>
                    <td>{{ item.phone | safe }}</td>
                    <td> {{ item.short_phone }}</td>
                    <td> {{ item.cabinet }}</td>
                </tr>

            {% endfor %}
        </table>
    </div>
{% endblock %}
