body{
    background-color: #fefefe;
}
.errorlist{
    color: red;
}

.child{
    display: none;
    /*скрытие элементов списка*/
}

*,
*::before,
*::after {
  box-sizing: border-box;
    list-style-type: none;
}

