{#-Левый боковой навбар-#}

<!--{# загружаем пользовательский тег #}-->
{% load phonebook_tags %}
{% get_division as divisions %}
{% load mptt_tags %}

{#<nav class="nav flex-column">#}
{##}
{#  <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Наименование:</a>#}
{##}
{#   <!--запускаем пользовательский тег show_divisions, каторый данные загружает уже со страницы 'phonebook/list_divisions.html'-->#}
{##}
{##}
{#- Перечисление всех подразделений, список divisions - сформирован пользовательским тегом show_divisions() в phonebook_tags.py -#}
{#{% for di in divisions %}#}
{#    {% if di.pk == div_selected %}#}
{##}
{#    <!--  отображение списка подразделений через прямого обращение к номеру записи в базе данных -->#}
{#    <!--  ссылка формируется через метод get_absolute_url описанного в классе Division файла models.py-->#}
{#    <a  class="list-group-item list-group-item-action" >#}
{#      <!--   di.title - обращение к имени подразделения, di.cnt - подсчет записи в этом подразделении-->#}
{#    {{ di.title }}#}
{#    </a>#}
{#   {% else %}#}
{#        <a href="{{ di.get_absolute_url }}" class="list-group-item list-group-item-action" name="orderby" >#}
{#      <!--   di.title - обращение к имени подразделения, di.cnt - подсчет записи в этом подразделении-->#}
{#    {{ di.title }}#}
{#    </a>#}
{#    {% endif %}#}
{##}
{#{% endfor %}#}
{#</nav>#}

{% recursetree divisions %}
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ node.id }}" aria-expanded="true" aria-controls="collapse{{ node.id }}">
          {{ node.title }}
        </button>

      </h2>
      {% if not node.is_leaf_node %}
        <div id="collapse{{ node.id }}" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            {% for child in node.get_children %}
                {% if child.pk == div_selected %}
                    {{ child.title }}<br>
                {% else %}
                <a href="{{ child.get_absolute_url }}">{{ child.title }}</a><br>
                {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endrecursetree %}

{#<style>#}
{#    ul, #myUL {#}
{#    list-style-type: none;#}
{#}#}
{##}
{#/* Remove margins and padding from the parent ul */#}
{##myUL {#}
{#    margin: 0;#}
{#    padding: 0;#}
{#}#}
{##}
{#/* Style the caret/arrow */#}
{#.caret {#}
{#    cursor: pointer;#}
{#    user-select: none; /* Prevent text selection */#}
{#}#}
{##}
{#/* Create the caret/arrow with a unicode, and style it */#}
{#.caret::before {#}
{#    content: "\25B6";#}
{#    color: black;#}
{#    display: inline-block;#}
{#    margin-right: 6px;#}
{#}#}
{##}
{#/* Rotate the caret/arrow icon when clicked on (using JavaScript) */#}
{#.caret-down::before {#}
{#    transform: rotate(90deg);#}
{#}#}
{##}
{#/* Hide the nested list */#}
{#.nested {#}
{#    display: none;#}
{#}#}
{##}
{#/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */#}
{#.active {#}
{#    display: block;#}
{#}#}
{#</style>#}
{##}
{#<ul id="myUL">#}
{#    {% recursetree divisions %}#}
{#        <li>#}
{#            {% if node.is_leaf_node %}#}
{#                <a class="leaf" href="{{  node.get_absolute_url }}">{{ node.title }}</a>#}
{#            {% else %}#}
{#                <span class="caret parent" href="{{  node.get_absolute_url }}">{{ node.title }}</span>#}
{#                <ul class="nested">#}
{#                    {{ children }}#}
{#                </ul>#}
{#            {% endif %}#}
{#        </li>#}
{#    {% endrecursetree %}#}
{#</ul>#}
{##}
{##}
{##}
{#<script>#}
{#    'use strict';#}
{##}
{#var togglers = document.getElementsByClassName("caret");#}
{#var i;#}
{##}
{#for (i = 0; i < togglers.length; i++) {#}
{#    togglers[i].addEventListener("click", function () {#}
{#        this.parentElement.querySelector(".nested").classList.toggle("active");#}
{#        this.classList.toggle("caret-down");#}
{#    });#}
{#}#}
{#</script>#}
{##}
{#{% recursetree divisions %}#}
{#                            <!-- блок аккордеон -->#}
{#                            <div class="accordion">#}
{#                                <section class="accordion_item">#}
{#                                    <h3 class="title_block"><strong>{{ node.title }}</strong></h3>#}
{#                                    {% if not node.is_leaf_node %}#}
{#                                        {% for child in node.children.all %}#}
{#                                            <div class="info"><hr>#}
{#                                                <ul>#}
{#                                                    <li class="info_item"><a href="{{ child.get_absolute_url }}"><u>{{ child.title }}</u></a></li>#}
{#                                                </ul>#}
{#                                                {% recursetree child.children.all %}#}
{#                                                    <ul>#}
{#                                                        <li class="info"><a href="{{ node.get_absolute_url }}">{{ node.title }}</a></li>#}
{#                                                    </ul>#}
{#                                                {% endrecursetree %}#}
{#                                            </div>#}
{#                                        {% endfor %}#}
{#                                    {% endif %}#}
{#                                </section>#}
{#                            </div>#}
{#                            <!-- конец блока аккордеон -->#}
{#                        {% endrecursetree %}#}
