{#-Левый боковой навбар-#}

<!--{# загружаем пользовательский тег #}-->
{% load phonebook_tags %}
{% get_division as divisions %}
{% load mptt_tags %}

<!--{#<nav class="nav flex-column">#}-->
<!--{##}-->
<!--{#  <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Наименование:</a>#}-->
<!--{##}-->
<!--{#   &lt;!&ndash;запускаем пользовательский тег show_divisions, каторый данные загружает уже со страницы 'phonebook/list_divisions.html'&ndash;&gt;#}-->
<!--{##}-->
<!--{##}-->
<!--{#- Перечисление всех подразделений, список divisions - сформирован пользовательским тегом show_divisions() в phonebook_tags.py -#}-->
<!--{#{% for di in divisions %}#}-->
<!--{#    {% if di.pk == div_selected %}#}-->
<!--{##}-->
<!--{#    &lt;!&ndash;  отображение списка подразделений через прямого обращение к номеру записи в базе данных &ndash;&gt;#}-->
<!--{#    &lt;!&ndash;  ссылка формируется через метод get_absolute_url описанного в классе Division файла models.py&ndash;&gt;#}-->
<!--{#    <a  class="list-group-item list-group-item-action" >#}-->
<!--{#      &lt;!&ndash;   di.title - обращение к имени подразделения, di.cnt - подсчет записи в этом подразделении&ndash;&gt;#}-->
<!--{#    {{ di.title }}#}-->
<!--{#    </a>#}-->
<!--{#   {% else %}#}-->
<!--{#        <a href="{{ di.get_absolute_url }}" class="list-group-item list-group-item-action" name="orderby" >#}-->
<!--{#      &lt;!&ndash;   di.title - обращение к имени подразделения, di.cnt - подсчет записи в этом подразделении&ndash;&gt;#}-->
<!--{#    {{ di.title }}#}-->
<!--{#    </a>#}-->
<!--{#    {% endif %}#}-->
<!--{##}-->
<!--{#{% endfor %}#}-->
<!--{#</nav>#}-->

<!--{% recursetree divisions %}-->
<!--    <div class="accordion" id="accordionExample">-->
<!--    <div class="accordion-item">-->
<!--      <h2 class="accordion-header" id="headingOne">-->
<!--        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ node.id }}" aria-expanded="true" aria-controls="collapse{{ node.id }}">-->
<!--          {{ node.title }}-->
<!--        </button>-->

<!--      </h2>-->
<!--      {% if not node.is_leaf_node %}-->
<!--        <div id="collapse{{ node.id }}" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">-->
<!--          <div class="accordion-body">-->
<!--            {% for child in node.get_children %}-->
<!--                {% if child.pk == div_selected %}-->
<!--                    {{ child.title }}<br>-->
<!--                {% else %}-->
<!--                <a href="{{ child.get_absolute_url }}">{{ child.title }}</a><br>-->
<!--                {% endif %}-->
<!--            {% endfor %}-->
<!--          </div>-->
<!--        </div>-->
<!--      {% endif %}-->
<!--    </div>-->
<!--  </div>-->
<!--{% endrecursetree %}-->

{#<div class="menu" id="menuul" >#}
{#{% for division,structure in divisions|tree_info %}#}
{#    {% if structure.new_level %}<ul><li>{% else %}</li><li>{% endif %}#}
{#        {{ division.title }}#}
{#    {% for level in structure.closed_levels %}</li></ul>{% endfor %}#}
{#{% endfor %}#}
{#</div>#}
<div class="menu" id="menuul" >

    <ul>
        {% recursetree divisions %}
            <li>
                <a href="{{ node.get_absolute_url }}">{{ node.title }}</a>
                {% if not node.is_leaf_node %}
                    <ul class="children">
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}
    </ul>
</div>

<script>
let menu = document.querySelector("#menuul");
let u = window.location.href;
let s = menu.querySelectorAll(" a ");

// let child = Array.from(menu);
{#console.log("123" + s);#}
for (let m of s){


    if (m.href == u){

       let ng =  m.parentNode.querySelectorAll("ul");
       let li = m.parentNode.querySelector("li > a");
       li.removeAttribute("href");
       {#console.log(ng);#}

       ng[0].classList.toggle("children");
        for (let ch of ng){
            console.log(ch.href);

        }
          {#m.classList.add("child");#}
         // m.hidden;
         {#console.log("z " + m);#}
    }
}


    // let link = menu.querySelectorAll("span");
    // for (let l of link){
    //     // console.log(l);
    //     if(l.querySelector("a") == null){
    //         // alert("123");
    //         console.log(l.querySelector('first-of-type'));
    //         l.querySelector('span:first-of-type').toggle('children');
    //
    //     }
    //     // alert(l);
    //
    //     // if (l.querySelector('a:first-of-type').tagName == "a"){
    //     //     alert('123');
    //     // }
    // }

    menu.onclick = function (event) {
        // let t = event.target.childNodes;
        let t = event.target.querySelector('ul:first-of-type');
        // if (t.tagName == 'LI') return;
        // let c = t.document.querySelector("ul");
        // t["ul.children"].toggle('children');
        // let child = Array.from(t);
        // child[1].classList.toggle('children');
        // let position = child.tagName.indexOf("ul.children");
        // alert(t.tagName);


for (let i = 0; i < t.length; i++) {
    if (t.nodeName == "ul.children"){
        console.log("123");
    }
        // alert(t.item(i));
        // console.log(t.item(i));

}
    // b = t.item(1);
    t.classList.toggle('children');
        // alert(t[3]);
        // console.log(t.tagName);
        // b.classList.toggle('children');
    }



//     for (let li of menu.querySelectorAll("li")){
//         for (let b of li.querySelectorAll("a")){
//             // b.classList.toggle('children');
//
//             if (b == null) {
//
//                 c = b.parentNode.querySelector("ul");
//                 c.classList.toggle('children');
//             }
//         }
//         let span = document.createElement('span');
//         {#span.classList.add('list');#}
//         span.classList.add('show');
//         li.prepend(span);
//         span.append(span.nextSibling);
//
//     }
// menu.onclick = function (event) {
//      console.log(event.target.tagName);
//      if (event.target.tagName != 'SPAN') return;
//      let childcont = event.target.parentNode.querySelector("ul");
//      // alert(childcont.length);
//      if (!childcont) return;
//      // childcont.hidden = !childcont.hidden;
//      childcont.classList.toggle('children');
// }
</script>